---
const pagetitle = "Astro by Alejandro"

const identidad= {
  nombre: "Alejandro",
  apellido: "caldi"
  pais: "Argentina",
  hobbir: ["Akedrez","Fotogtafía","Literatura","Programación"]
}

const conocimientos = ['Python','Java','SQL']

---


<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{pagetitle}</title>
</head>
<body>
  <main>
  <h1> Soy... </h1>
    <ul>
      <li><!-- Nombre y Apellido --></li>
      <li><!-- Nacipnalidad --></li>
      <li><!-- Algún detalle --></li>
      <ol>
        <li>> Pasatiempos favoritos </ol>    
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        </ol>
  </ul>
  <h2> ... y esto es todo... </h2>
  </main>
</body>
</html>