---
interface Props {
    vinculos: string[]
}

const {vinculos} = Astro.props;
---


<footer class="oscuro">
    <p>Suscribios a nuestros feeds:</p>

    {vinculos.map(item => (
        <li><a href={item[0]} target="_blank" rel="noopener"> {item[1]} </a> </li>
      ))}

</footer>
<style>

.oscuro{
    background-color: darkgrey;
}

</style>