---
interface Props {
    vinculos: string[]
}

const {vinculos} = Astro.props;
---


<footer class="oscuro">
    <p>Suscribíos a nuestros feeds:</p>

    {vinculos.map(item => (
        <li ><a class="link" href={item[0]} target="_blank" rel="noopener"> {item[1]} </a> </li>
      ))}

</footer>
<style>

.oscuro{
    background-color: darkgrey;
    text-decoration: none;
    align-items: center;
    gap:20px;
    height:160px;
    padding: 20px;
}

.link{
    text-decoration: none;
    color: white;

}

</style>