---
interface Props {
    links: string[]
}

const {links} = Astro.props;
---

<nav class="horizontal">

    {links.map(item => (
        <a class="nav-link" href={item[0]}> {item[1]} </a>
      ))}

</nav>

<style>

    .horizontal{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        background-color: darkgrey;
        text-decoration: none;
        gap:20px;
        height:80px;


    .nav-link {
        color: white;
        text-decoration: none;
    }

    }
</style>